h1 {
	background-color: red;
	padding: 25px 50px;
	border: black dotted 3px;
}

p {
	background-color: blue;
	color: white;
	padding: 15px 35px;
	border: black solid 5px;
	text-decoration: underline;
}

code {
	background-color: white;
	color: black;
	padding: 2px;
	border: black solid 1px;
	margin: 10px;
}

h2 {
	background-color: yellow;
	padding: 30px 100px;
	margin-left: 120px;
	margin-right: 120px;
	border: grey outset 5px;
}

ol {
	background-color: red;
	color: white;
	margin: 20px 100px;
	border-color: black;
	border-width: 5px;
	border-left-style: solid;
	border-right-style: solid;
}

li {
	background-color: orange;
	color: white;
	padding: 10px 0px;
	border: green groove 4px;
}

