/* Comment */
body {
	text-align: center;
	background-color: gold;
	margin: 100px;
	padding: 50px;
}

p {
	background-color: white;
	margin: 75px 30px;
	padding: -75px 30px;
}

body > div {
	background-color: black;
	color: white;
}

div {
	background-color: orange;
	color: black;
}