body {
	background-color: #E6E6E6;
	color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  font-family: arial, helvetica;
}
h1, h2 {
  text-align: center;
}

#onPage {
  display: inline;
  font-style: italic;
  font-weight: bold;
  color: black;
  text-align: center;
}

#hlink {
  display: inline;
  font-style: underline;
  font-weight: bold;
  text-align: center;
}

#sitemap {
  text-align: center;
}

#social {
  text-align: center;
}

a.link {
  color: black
}

a.visited {
  color: black
}


  