.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.container {
	background-color: white;
	margin: 0 auto;
	width: 664px;
	font-family: helvetica;
	color: white;
	padding: 1px;
	border:1px solid black;

}

header {
	background-color: black;
	height: 6em;
}

nav {
	background-color: black;
	width:100%;
	float: right;
	margin: 0.5em 0;
}

.logo {
	font-family: garamond;
	color: yellow;
	font-size: 2em;
	width: 100%;
	padding: 0.5em 0 0 0.5em;
}

.logo-nav {
	font-size: 0.85em;
	font-weight: bold;
	margin: 0 0.5em;
	float: right;
}

.nav-edge {
	padding-right: 1em;
}

.slogan {
	background-color: #C6C6C6;
	border-color: yellow;
	border-top: yellow solid 0.15em;
	
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	
	width: 100%;
	padding: 1em 0; /* how can I avoid using padding? */
}

.strike {
	color: grey;
	text-decoration: line-through;
}

.yellow-underline {
	border-bottom: solid yellow 0.1em;
}

.main-content {
	background-image: url(../images/coworking.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100%;
	height: 30em;
	float: left;
	box-shadow: inset 0 0 5px black;
}

.content {
	/* this will only make element transparent */
	background-color: rgba(255,255,255,0.8); 
	width: 35%;
	height: 80%;
	float: right;
	margin: 1.5em;
	padding: 1em;
	box-shadow: 0 0 5px black;
}

div.content {
	font-family: arial;
	color: black;
}

.subcontent {
	background-color: white;
	color: black;
	width: 100%;
	height: 15em;
}

h2.subcontent {}

.sub-left {
	margin-left: 0.75em;
	float: left;
	width: 26%;
	padding: 0 1.5em;
	border-right: #F2F2F2 solid 1px;
}

.sub-center {
	float: left;
	width: 25%;
	padding: 0 1.5em;
	border-right: #F2F2F2 solid 1px;
}

.sub-right {
	padding: 0 1.5em;
	float: left;
	width: 25%;
}

.foot {
	background-color: black;
}

footer {
	font-family: helvetica;
	width: 100%;
	padding: 1em;
	font-size: 0.85em;
}
/**************
	BUTTONS
***************/
.create-button, .grey-button {
	font-family: "arial narrow";
	font-weight: bold;
	text-align: center;
	font-size: 0.9em;
	width: 10em;
	border-radius: 0.25em;
}

.create-button {
	background-color: yellow;
	padding: 0.5em;
	box-shadow: 0 4px 2px -2px #C0C700;
	margin-left: 2.5em;
	margin-top: 11em;
}

.grey-button {
	background-color: #D3D3D3;
	padding: 0.5em;
	box-shadow: 0 4px 2px -2px #838383;
}

