/*----------
BASE STYLES
-----------*/
* {
    box-sizing: border-box;
    /*
    border: 1px solid red;
    */
}
.container {
	padding: 0px;
	min-width: 568px;
}
a {
	color: #FFFFFF;
}
/*-------------------------
TYPOGRAPHY - Adobe Typekit
---------------------------
H1 : fira-sans-2 48/48;
H2 : museo-sans 36/48;
H3 : museo-sans 24/24;
Body: museo-sans 16/24;
--------------------------*/
h1 {
  font-family: "fira-sans-2",sans-serif;
}
h2, h3, h4, body {
  font-family: "museo-sans",sans-serif;
  font-weight: 100;
}
h1, h2, h3, h4 {
	text-align: center;	
}
body {
	line-height: 24px;
}
.footer {
	line-height: 48px;
}
#address, #copyright {
	letter-spacing: 7px;
}
input, textarea {
	font-family: "museo-sans", sans-serif;
	font-size: 1em;
}
.blog-list-old-articles h5{
	margin: 0px;
}
.blog-list-old-articles p {
	font-size: 0.75em;
	line-height: 16px;
	margin: 0px;
}

/*---------------------------------------------
COLOR
Color: #FFFFFF;
Main: #9C72B2; rgb 156,114, 178 //purple
Accent: #BFAE8D; rgb 191,174,141 //light brown
Background: #2B2828; rgb 43,40,40 //
----------------------------------------------*/
body {
	background-color: #2B2828;
	color: #FFFFFF;
}
h1,h3,h4,h5,h6 {
	color: #FFFFFF;
}
h2.ingredient {
	color: #9C72B2;
}
.navbar.transparent {
	background: rgba(0,0,0,0.5);
	border-style: none;
}
h3.modal-title {
	color: #9C72B2;
}
.modal-content {
	background-color: #2B2828;
}
.highlight {
	color: #9C72B2;
}
.accent1 {
	color: #BFAE8D;
}
/*----------
POSITIONING
-----------*/
.page-title {
	padding-top: 50px;
}
.hero-image h1 {
	margin-top: 0px;
	padding-top: 250px;
}
.hero-image h3 {
	padding-top: 230px;
}
.arrow-down {
	opacity: 0.3;
	padding-top: 110px;
	margin-left: auto;
	margin-right: auto;
}
.hero3label {
	padding-top: 525px;
	margin: auto;
}
.footer {
	text-align: center;
}
#hero1,#hero2,#hero3 {
	height: 768px;
}
.nutrition-info {
	width: 350px;
	margin: 25px;
	padding: 0px 25px;
	float: left;
}
.nutrition-description {
	width: 300px;
	height: 200px;
}
.ingredient-left {
	padding-left: 100px;
}
.ingredient-center {
	padding: 0px 50px;
}
.ingredient-right {
	padding-right: 100px;
}
.cta {
	margin-bottom: 50px;
}
.socialmedia {
	margin: 50px 11px 22px 11px;
}
p.author {
	text-align: center;
	font-style: italic;
}
.blog-page-title {
	text-align: left;
}
h2.blog-page-title {
	text-align: center;
}
.blog-list-old-articles li {
	margin-bottom: 10px;
}
.blog-page-image {
	padding: 25px;
}
/*-------------
ELEMENT SIZING
--------------*/
#logo {
	height: 24px;
}
#about-image {
	width: 640px;
	height: auto;
	padding: 25px;
}
.arrow-down {
	width: 44px;
}
.icon {
	width: 44px;
	height: 44px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;

	-webkit-transition: box-shadow .4s ease;
	-moz-transition: box-shadow .4s ease;
	-o-transition: box-shadow .4s ease;
	-ms-transition: box-shadow .4s ease;
	transition: box-shadow .4s ease;
}
.hero-image {
	height: 768px;
	margin: 0px auto;
}
.cta {
	width: 542px;
	height: 542px;
}
.navbar {
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px auto;
	transition: top 0.2s ease-in-out;
}
.ingredient-left, .ingredient-right {
	padding-top: 100px;
}
#menu, #customise {
	margin-left: 15px;
	margin-right: 15px;
}
.blog-title {
	position: absolute;
	top: 0px;
	width: 300px;
	margin-left: 25px;
}
.blog-title h3 {
	font-size: 24px;
	margin: 0;
	text-align: left;
}
.blog-title p {
	margin: 0;
	text-align: left;
}
.blog-auth {
	font-style: italic;
}
html, body, #map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map-canvas {
	padding: 20px;

}
/*------
EFFECTS
-------*/
ul.nav a:hover { 
	color: #BFAE8D !important; 
}
a.nav:hover {
	color: #BFAE8D;
}
.blog-list-old-articles a:hover {
	color: #fff;
	font-style: normal;
	text-decoration: none;
	
	opacity: 1;
}
.hero3label:hover {
	color: #fff;
	text-decoration:none;
}
.icon:hover{
	-webkit-box-shadow: 0px 0px 5px white, -2px 3px 5px white, 3px -2px 5px white;
	-moz-box-shadow: -2px -2px 5px white, -2px 3px 5px white, 3px -2px 5px white;
	box-shadow: -2px -2px 5px white, -2px 3px 5px white, 3px -2px 5px white;
}
.nav-up {
  top: -50px; /* same as header height */
}
#bs-example-navbar-collapse-1 {
	width: 100%;
	height: 100%;
}
.blog:hover, .cta:hover {
	-moz-box-shadow: 0 0 10px rgba(255,255,255,1);
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,1);
	box-shadow: 0 0 10px rgba(255,255,255,1);
}
p.blog-auth:hover {
	color: #BFAE8D;
}
p.blog-auth:active {
	color: #fff;
}

.blog-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	display: none;
}
/*------
NAVICON
------*/
$duration: .5s;

$size : 100%;
$toggled-size : .75;

$bg : #449A88;
$nav-bg  : #2A2A2A;
$content-bg : #E7E6DD;

.navicon-button {
	display: inline-block;
	position: relative;
	padding: 2.0625rem 1.5rem;
	transition: $duration/2;
	cursor: pointer;
	user-select: none;
	opacity: .8;

	.navicon:before, .navicon:after {
		transition: $duration/2;
	}

	&:hover {
		transition: $duration;
		opacity: 1;

		.navicon:before, .navicon:after {
			transition: $duration/2;
		}

	.navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
	}
}
.navicon {
	position: relative;
	width: 2.5em;
	height: .3125rem;
	background: $content-bg;
	transition: $duration;
	border-radius: 2.5rem;

	&:before, &:after {
		display: block;
		content: "";
		height: .3125rem;
		width: 2.5rem;
		background: $content-bg;
		position: absolute;
		z-index: -1;
		transition: $duration $duration/2;
		border-radius: 1rem;
	}

	&:before { top: .625rem; }
	&:after { top: -.625rem; }
}
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
	top: 0 !important;
}
.open .navicon:before, 
.open .navicon:after {
	transition: $duration;
}
.open.x {
	.navicon {
		background: transparent;

		&:before { transform: rotate(-45deg); }
		&:after { transform: rotate(45deg); }
	}
}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (max-width : 568px) { /* STYLES GO HERE */
	#hero1 {
		background: url(../img/hero1-640px.png) no-repeat center left;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*background-image: 100% 100%;*/
	}
	#hero2 {
		background: url(../img/hero2-640px.png) no-repeat center left;
		background-image: 100% 100%;
	}
	#hero3 {
		background: url(../img/hero3-640px.png) no-repeat center left;
		background-image: 100% 100%;
	}
	.nutrition-info {
		padding: 0px;
		margin-left: 20%;
	}
	h3.nutrition {
		margin-left: 10%;
		margin-right: 10%;
	}
	.blog {
		margin-left: 10px;
		width: 100px;
		height: 100px;
	}
	#about-image {
		width: 400px;
		padding: 5px;
	}
	#menu {
  		background: url(../img/menu.png);
  		background-size: contain;
  		width: 100vw;
  		height: 100vw;
	}
	#customise {
	  	background: url(../img/customise.png);
  		background-size: contain;
  		width: 100vw;
  		height: 100vw;
	}
	.cta {
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}
	.blog-title {
		position: absolute;
		top: 0px;
		width: 300px;
		margin: 0px 0px 0px 125px;
		line-height: 24px;
		border-bottom: 1px black;
	}
	.blog-title h3 {
		font-size: 20px;
	}
	.blog-hr {
		display: block;
	}
	.cta-title {
		position: absolute;
		width: 100%;
		margin: 10px auto;
	}
	.navbar-bg {
		background: rgba(0,0,0,0.8);
	}
	#map {
		width: 335px;
		height: 300px;
	}
	.modal-body .img-circle {

	}
	.article {
		padding-left: 5%;
		padding-right: 5%;
	}
	.blog-page-image {
		width: 100%;
		padding: 10px;
	}
}
/* ----------- Desktop ----------- */
@media only screen and (min-width: 568px) {
	#hero1 { 
	    background: url(../img/hero1-desktop.png) no-repeat center center;
	  	background-size: cover;
	}
	#hero2 { 
		background: url(../img/hero2-desktop.jpg) no-repeat center center;
		background-size: cover;
	}
	#hero3 { 
		background: url(../img/hero3-desktop.jpg) no-repeat center center; 
		background-size: cover;
	}
	#menu {
		background: url(../img/menu.png);
		background-size: 542px 542px;
	}
	#customise {
		background: url(../img/customise.png);
		background-size: 542px 542px;
	}
	.blog {
		margin: 0px 15px 50px 15px;
	}
	.blog-title {
		margin: 15px 35px;
	}
	.blog-hr {
		display: none;
	}
	#phone-ico {
		display: none;
	}
	#map {
		width: 500px;
		height: 400px;
		padding-left:50px;
	}
}